// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: font-url('HelveticaNeueCyr-Medium.otf') format('opentype');
    //font-weight: normal;
    //font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: font-url('HelveticaNeueCyr-Light.otf') format('opentype');
    ///font-weight: normal;
    //font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: font-url('Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Light';
    src: font-url('Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: font-url('Rubik-Regular.ttf') format('truetype');
}
*/
@font-face {
    font-family: '8_bit_operator_bold';
    src: font-url('8_bit_operator_bold.ttf') format('truetype');
}

.header {
    min-width: 385px;
    max-width: 600px;
    width: 50%;
    //background-color: #ff00ff;
    margin: 25px auto 0px;
}

.header_title {
    text-align: center;
    font-size: 85px;
    line-height: 100px;
    font-family: '8_bit_operator_bold';
    background-color: #151717;
    color: #ecf0f1;
    width: 100%;
    //padding: 20px 0px 20px;
}

.new_post_button {
    text-align: center;
    color: #2c3e50;
    background-color: #FDE3A7;
    width: 100%;
    height: 29px;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Helvetica Neue','Circe',sans-serif;
    font-weight: bold;
}

.new_post_button:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}

hr.separator {
    width: 50%;
    border: 0;
    border-bottom: 3px dashed #000;
    //background: #999;
    min-width: 385px;
    max-width: 600px;
    margin: 25px auto 25px;

}

a {
    text-decoration: none;
}

.post_container {
    width: 50%;
    margin: 25px auto 20px;
    min-width: 385px;
    max-width: 600px;
    font-size: 0;
   //  /background-color: #ff00ff;
}

.post_content {

    //position: relative;
    background-color: #151717;//#2c3e50;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px;

}

.post_title, .post_text, .post_date {
    text-align: left;
    padding: 5px 5px 4px;

}

.post_title { //.post_content
    color: #ecf0f1;
    font-size: 25px;
    font-family: 'Helvetica Neue','Circe',sans-serif;
    font-weight: bold;//"Rubik-Regular";
    width: 100%;
    height: auto;
    float: left;
}

.post_text {
    font-size: 17px;
    font-family: 'Helvetica Neue','Circe',sans-serif;//"Rubik-Light";
    height: auto;
    width: 98%;
    float: left;
    color: #bdc3c7;
}

.post_date {
    font-size: 12px;
    font-family: 'Helvetica Neue','Circe',sans-serif;//"Rubik-Light";
    height: auto;
    width: 100%;
    float: left;
    color: #999999;
}

.post_text_form {
    font-size: 15px;
    font-family: 'Helvetica Neue','Circe',sans-serif;//"Rubik-Light";
    height: auto;
    width: 98%;
    margin: 5px 5px 5px;
    float: left;
}

.form_input_field {
    width: 99.9%;
}

.form_input_area {
    width: 100%;
}

.post_actions {
    margin: 0px;
    width: 100%;
    vertical-align: top;

    //border-left: 1px solid white;
}

.post_show, .post_edit, .post_delete {
    font-family: 'Helvetica Neue','Circe',sans-serif;
    font-weight: bold; //"HelveticaNeueCyr-Medium";
    font-size: 15px;
    text-align: center;
    color: #2c3e50;//#ecf0f1;//
    height: 29px;
    line-height: 30px;
    vertical-align: bottom;
    background-color: #FDE3A7; //#F62459;//#c0392b;
    display: inline-block;
    width: 33.33%;
}

.post_show:hover, .post_edit:hover, .post_show:visited, .post_edit:visited {
    background-color: #ecf0f1;
    color: #2c3e50;

}
.post_delete:hover, .post_delete:visited {
    background-color: #ecf0f1;
    color: #e74c3c;

}
