// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    text-align: center;
    font-size: 50px;
    font-family: "HelveticaNeue-Medium";
    background-color: #000000;
    min-width: 385px;
    max-width: 600px;
    color: #ecf0f1;
    width: 50%;
    margin: 0px auto 20px;
    padding: 10px 0px;
}

.new_post {
    text-align: center;
    margin: 0px auto 20px;
    //font-family: "HelveticaNeue-Medium";
    color: #2c3e50;
    background-color: #FDE3A7;
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-size: 45px;
}

.new_post:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}

a {
    text-decoration: none;
}



.post_container {
    width: 50%;
    margin: 0px auto 20px;
    min-width: 385px;
    max-width: 600px;

    font-size: 0;
}

.post_content, .post_actions {
    display: inline-block;
}

.post_content {

    //position: relative;
    color: #ecf0f1;
    background-color: #000000;//#2c3e50;
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 0px;

}

.post_title, .post_text {
    text-align: left;
    padding: 0px 5px 4px;

}

.post_title { //.post_content

    font-size: 25px;
    font-family: "HelveticaNeue-Medium";
    width: 100%;
    height: auto;
    float: left;
}

.post_text {
    font-size: 15px;
    font-family: "HelveticaNeue-Light";
    height: auto;
    width: auto;
    float: left;
}

.post_actions {
    margin: 0px;
    width: 20%;
    vertical-align: top;
    //border-left: 1px solid white;
}

.post_show, .post_edit, .post_delete {
    font-family: "HelveticaNeue";
    font-size: 15px;
    text-align: center;
    color: #2c3e50;//#ecf0f1;//
    height: 28px;
    line-height: 28px;
    vertical-align: bottom;
    background-color: #FDE3A7//#F62459;//#c0392b;

}

.post_delete, .post_edit {
    display: inline-block;
    width: 50%;
    //min-width: 39px;
}
.post_show {
    width: 100%;
    //min-width: 78px;
}

.post_show:hover, .post_edit:hover, .post_show:visited, .post_edit:visited {
    background-color: #ecf0f1;
    color: #2c3e50;

}
.post_delete:hover, .post_delete:visited {
    background-color: #ecf0f1;
    color: #e74c3c;

}
